Repository bennycode/ts2esm: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: npx eslint {staged_files} --fix

feat: Convert dynamic imports (#130)
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/converter/replacer/addFileExtensions.ts
  src/converter/replacer/replaceDynamicImports.ts
  src/converter/replacer/replaceRequiresAndShebang.ts
  src/test/fixtures/dynamic-imports/src/main.snap.ts
  src/test/fixtures/dynamic-imports/src/main.ts
  src/test/fixtures/dynamic-imports/src/my-function.function.ts
  src/test/fixtures/dynamic-imports/tsconfig.json
  src/util/replaceModulePath.ts
Due: format, lint

refactor: Resolve Node Modules through TypeScript
  package-lock.json
  package.json
  src/util/replaceModulePath.ts
Due: format, lint

fix: Preserve module.exports assignments when converting to ESM (#125)
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceModuleExports.ts
  src/test/fixtures/module-exports/src/named-export-conflicts.snap.ts
  src/test/fixtures/module-exports/src/named-export-conflicts.ts
  src/test/fixtures/module-exports/src/named-export-values.snap.ts
  src/test/fixtures/module-exports/src/named-export-values.ts
  src/test/fixtures/module-exports/src/object-literal-values.snap.ts
  src/test/fixtures/module-exports/src/object-literal-values.ts
  src/test/fixtures/module-exports/src/object-literal.snap.ts
  src/test/fixtures/module-exports/src/object-literal.ts
Due: lint

chore: Fix ESLint by lifting typescript-eslint to a TypeScript 5.9 compatible version
  package-lock.json
  package.json
Due: format

fix: Preserve module.exports assignments when converting to ESM (#125) (#210)
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceModuleExports.ts
  src/test/fixtures/module-exports/src/named-export-conflicts.snap.ts
  src/test/fixtures/module-exports/src/named-export-conflicts.ts
  src/test/fixtures/module-exports/src/named-export-values.snap.ts
  src/test/fixtures/module-exports/src/named-export-values.ts
  src/test/fixtures/module-exports/src/object-literal-values.snap.ts
  src/test/fixtures/module-exports/src/object-literal-values.ts
  src/test/fixtures/module-exports/src/object-literal.snap.ts
  src/test/fixtures/module-exports/src/object-literal.ts
Due: lint

chore: Fix ESLint by lifting typescript-eslint to a TypeScript 5.9 compatible version (#211)
  package-lock.json
  package.json
Due: format

fix: Respect package.json exports when adding extensions to package imports
  .gitignore
  src/converter/convertFile.test.ts
  src/test/fixtures/package-exports/node_modules/@scope/pkg/index.js
  src/test/fixtures/package-exports/node_modules/@scope/pkg/package.json
  src/test/fixtures/package-exports/node_modules/legacy/dir/index.js
  src/test/fixtures/package-exports/node_modules/legacy/omit.js
  src/test/fixtures/package-exports/node_modules/legacy/package.json
  src/test/fixtures/package-exports/node_modules/modern/package.json
  src/test/fixtures/package-exports/node_modules/modern/sub.js
  src/test/fixtures/package-exports/src/main.snap.ts
  src/test/fixtures/package-exports/src/main.ts
  src/test/fixtures/package-exports/tsconfig.json
  src/util/PathUtil.ts
  src/util/replaceModulePath.ts
Due: format, lint

fix: Resolve tsconfig path aliases like TypeScript does in monorepos
  src/converter/convertFile.test.ts
  src/test/fixtures/monorepo-paths/apps/myapp/src/main.snap.ts
  src/test/fixtures/monorepo-paths/apps/myapp/src/main.ts
  src/test/fixtures/monorepo-paths/apps/myapp/tsconfig.json
  src/test/fixtures/monorepo-paths/libs/generated/schema.ts
  src/test/fixtures/monorepo-paths/libs/mylib/src/index.ts
  src/test/fixtures/monorepo-paths/libs/mylib/src/utils/helper.ts
  src/test/fixtures/monorepo-paths/tsconfig.json
  src/util/PathUtil.test.ts
  src/util/PathUtil.ts
  src/util/ProjectUtil.ts
  src/util/replaceModulePath.ts
Due: format, lint

fix: Respect package.json exports when adding extensions to package imports (#212)
  .gitignore
  src/converter/convertFile.test.ts
  src/test/fixtures/package-exports/node_modules/@scope/pkg/index.js
  src/test/fixtures/package-exports/node_modules/@scope/pkg/package.json
  src/test/fixtures/package-exports/node_modules/legacy/dir/index.js
  src/test/fixtures/package-exports/node_modules/legacy/omit.js
  src/test/fixtures/package-exports/node_modules/legacy/package.json
  src/test/fixtures/package-exports/node_modules/modern/package.json
  src/test/fixtures/package-exports/node_modules/modern/sub.js
  src/test/fixtures/package-exports/src/main.snap.ts
  src/test/fixtures/package-exports/src/main.ts
  src/test/fixtures/package-exports/tsconfig.json
  src/util/PathUtil.ts
  src/util/replaceModulePath.ts
Due: format, lint

fix: Resolve tsconfig path aliases like TypeScript does in monorepos (#213)
  src/converter/convertFile.test.ts
  src/test/fixtures/monorepo-paths/apps/myapp/src/main.snap.ts
  src/test/fixtures/monorepo-paths/apps/myapp/src/main.ts
  src/test/fixtures/monorepo-paths/apps/myapp/tsconfig.json
  src/test/fixtures/monorepo-paths/libs/generated/schema.ts
  src/test/fixtures/monorepo-paths/libs/mylib/src/index.ts
  src/test/fixtures/monorepo-paths/libs/mylib/src/utils/helper.ts
  src/test/fixtures/monorepo-paths/tsconfig.json
  src/util/PathUtil.test.ts
  src/util/PathUtil.ts
  src/util/ProjectUtil.ts
  src/util/replaceModulePath.ts
Due: format, lint

chore(deps): Upgrade dependencies to their latest major versions
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/codemod/setJsonValue.ts
  src/converter/ImportConverter.ts
  src/converter/replacer/replaceModuleExports.ts
  src/converter/replacer/replaceRequiresAndShebang.ts
  src/util/PathUtil.test.ts
  src/util/PathUtil.ts
  src/util/ProjectUtil.ts
  src/util/replaceModulePath.ts
  vitest.config.ts
Due: format, lint

chore(deps): Upgrade dependencies to their latest major versions (#214)
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/codemod/setJsonValue.ts
  src/converter/ImportConverter.ts
  src/converter/replacer/replaceModuleExports.ts
  src/converter/replacer/replaceRequiresAndShebang.ts
  src/util/PathUtil.test.ts
  src/util/PathUtil.ts
  src/util/ProjectUtil.ts
  src/util/replaceModulePath.ts
  vitest.config.ts
Due: format, lint

fix: Point package main to the compiled JavaScript entry
  package.json
Due: format

fix: Point package main to the compiled JavaScript entry (#215)
  package.json
Due: format

ci: Fix Dependabot config and auto-merge workflow
  .github/dependabot.yml
  .github/workflows/merge-dependencies.yml
Due: format

ci: Keep the approval step in the auto-merge workflow
  .github/workflows/merge-dependencies.yml
Due: format

ci: Fix Dependabot config (#216)
  .github/dependabot.yml
Due: format

3.0.0
  package-lock.json
  package.json
Due: format

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
