Repository bennycode/ts2esm: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: npx eslint {staged_files} --fix

Initial commit
  package-lock.json
  package.json
  src/MyClass.test.ts
  src/MyClass.ts
  src/cli.ts
  src/convert.ts
  src/index.ts
  src/sayHello.test.ts
  src/sayHello.ts
  src/start.ts
Due: format, lint

Initial commit
  src/convert.ts
Due: lint

update readme
  README.md
Due: format

docs: updated CHANGELOG.md
  CHANGELOG.md
Due: format

fix release scripts
  package.json
Due: format

0.0.1
  package-lock.json
  package.json
Due: format

update name
  package.json
Due: format

0.0.2
  package-lock.json
  package.json
Due: format

Initial commit
  .eslintrc.json
  .gitattributes
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/merge-dependencies.yml
  .github/workflows/run-tests.yml
  .gitignore
  .npmrc
  .prettierrc.json
  .vscode/settings.json
  CHANGELOG.md
  README.md
  codecov.yml
  lefthook.yml
  package-lock.json
  package.json
  src/cli.ts
  src/convert.test.ts
  src/convert.ts
  tsconfig.json
  vitest.config.ts
Due: format, lint

0.0.3
  package-lock.json
  package.json
Due: format

Initial commit
  .eslintrc.json
  .gitattributes
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/merge-dependencies.yml
  .github/workflows/run-tests.yml
  .gitignore
  .npmrc
  .prettierrc.json
  .vscode/settings.json
  CHANGELOG.md
  README.md
  automate.webp
  codecov.yml
  lefthook.yml
  package-lock.json
  package.json
  src/cli.ts
  src/convert.test.ts
  src/convert.ts
  tsconfig.json
  vitest.config.ts
Due: format, lint

0.0.4
  package-lock.json
  package.json
Due: format

chore: Update dependency list
  package-lock.json
  package.json
Due: format

0.0.5
  package-lock.json
  package.json
Due: format

feat: support index file imports
  src/convert.test.ts
  src/convert.ts
Due: lint

chore: update file uploads
  package.json
Due: format

0.0.6
  package-lock.json
  package.json
Due: format

docs: Add useful utils
  README.md
Due: format

chore: Improve code style
  src/convert.ts
Due: lint

chore: Use Workspace TS version
  .vscode/settings.json
  src/convert.ts
Due: format, lint

feat: Fix exports
  README.md
  logo.png
  package.json
  src/convert.ts
Due: format, lint

0.0.7
  package-lock.json
  package.json
Due: format

chore: improve changes check
  src/convert.ts
Due: lint

feat: Support JSON Import Assertions
  README.md
  src/cli.ts
  src/convert.test.ts
  src/convert.ts
  src/parseInfo.ts
  src/util.test.ts
  src/util.ts
Due: format, lint

update description
  README.md
  package.json
Due: format

Mention ts2esm
  README.md
Due: format

fix docs
  src/parseInfo.ts
Due: lint

feat: Support JSON Import Assertions (#7)
  README.md
  package.json
  src/cli.ts
  src/convert.test.ts
  src/convert.ts
  src/parseInfo.ts
  src/util.test.ts
  src/util.ts
Due: format, lint

1.0.0
  package-lock.json
  package.json
Due: format

docs: Add TS2307
  README.md
Due: format

docs: Handle TS2305
  README.md
Due: format

docs: Add TS2305
  README.md
Due: format

docs: Add Video Tutorial
  README.md
Due: format

docs: Add Video Tutorial (#8)
  README.md
Due: format

chore: Update dependencies
  package-lock.json
Due: format

1.0.1
  package-lock.json
  package.json
Due: format

build: fixes from `npm run fix` - vitest.config.ts must be in tsconfig sources
  CHANGELOG.md
  tsconfig.json
Due: format

improvement: clean up logging - always log tsconfig file - simplify modified indentation
  src/cli.ts
  src/convert.ts
Due: lint

feat: accept array of config files from command line (#19)
  CHANGELOG.md
  README.md
  src/cli.ts
  src/convert.ts
  tsconfig.json
Due: format, lint

chore: Update dependencies
  .eslintrc.json
  package-lock.json
  src/convert.ts
Due: format, lint

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
