Repository bennycode/ts2esm: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix

feat: Replace module.exports statements
  README.md
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/converter/replaceModuleExports.ts
  src/converter/replaceRequire.ts
  src/test/fixtures/module-exports/src/main.snap.ts
  src/test/fixtures/module-exports/src/main.ts
  src/test/fixtures/module-exports/tsconfig.json
Due: format, lint

feat: Replace module.exports statements
  src/converter/replaceModuleExports.ts
Due: lint

big refactoring
  package.json
  src/cli.ts
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/converter/convertProject.ts
  src/converter/replacer/replaceFileExtensions.ts
  src/converter/replacer/replaceModuleExports.ts
  src/converter/replacer/replaceRequire.ts
  src/util/ProjectUtil.ts
Due: format, lint

update tests
  e2e-tests.txt
  package.json
  src/converter/convertProject.ts
Due: format, lint

resilience
  e2e-tests.txt
  package.json
  src/converter/convertProject.ts
Due: format, lint

add debug mode
  package.json
Due: format

remove type alias
  src/util/ProjectUtil.ts
Due: lint

feat: Replace "module.exports" statements (#97)
  README.md
  e2e-tests.txt
  package.json
  src/cli.ts
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/converter/convertProject.ts
  src/converter/replacer/replaceFileExtensions.ts
  src/converter/replacer/replaceModuleExports.ts
  src/converter/replacer/replaceRequire.ts
  src/test/fixtures/module-exports/src/main.snap.ts
  src/test/fixtures/module-exports/src/main.ts
  src/test/fixtures/module-exports/tsconfig.json
  src/util/ProjectUtil.ts
Due: format, lint

2.2.4
  package-lock.json
  package.json
Due: format

feat: It can handle files with shebangs
  package.json
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceFileExtensions.ts
  src/converter/replacer/replaceModuleExports.ts
  src/converter/replacer/replaceRequire.ts
  src/test/fixtures/cjs-shebang/src/main.snap.ts
  src/test/fixtures/cjs-shebang/src/main.ts
  src/test/fixtures/cjs-shebang/tsconfig.json
Due: format, lint

adjust tests to full text checks
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceRequire.ts
  src/test/fixtures/cjs-shebang/src/main.snap.ts
  src/test/fixtures/cjs-shebang/src/main.ts
Due: lint

remove it.only
  e2e-tests.csv
  e2e-tests.txt
  src/converter/convertFile.test.ts
Due: lint

fix fixtures
  src/test/fixtures/index-import/src/main.snap.ts
  src/test/fixtures/tsconfig-include/src/consumer.snap.ts
Due: lint

fix tests
  package.json
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceModuleExports.ts
Due: format, lint

feat: Convert files with Shebang (#!) (#98)
  e2e-tests.csv
  e2e-tests.txt
  package.json
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceFileExtensions.ts
  src/converter/replacer/replaceModuleExports.ts
  src/converter/replacer/replaceRequire.ts
  src/test/fixtures/cjs-shebang/src/main.snap.ts
  src/test/fixtures/cjs-shebang/src/main.ts
  src/test/fixtures/cjs-shebang/tsconfig.json
  src/test/fixtures/index-import/src/main.snap.ts
  src/test/fixtures/tsconfig-include/src/consumer.snap.ts
Due: format, lint

2.2.5
  package-lock.json
  package.json
Due: format

test: Check destructured imports (CJS)
  src/converter/convertFile.test.ts
  src/test/fixtures/cjs-destructuring/src/main.snap.ts
  src/test/fixtures/cjs-destructuring/src/main.ts
  src/test/fixtures/cjs-destructuring/tsconfig.json
Due: format, lint

feat: Support default exported functions
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceModuleExports.ts
  src/converter/replacer/replaceRequire.ts
  src/test/fixtures/module-exports-function-js/src/build-example-index-markdown.js
  src/test/fixtures/module-exports-function-js/src/build-example-index-markdown.snap.js
  src/test/fixtures/module-exports-function-js/src/build-example-index.js
  src/test/fixtures/module-exports-function-js/src/build-example-index.snap.js
  src/test/fixtures/module-exports-function-js/tsconfig.json
  src/test/fixtures/module-exports/src/main.snap.ts
  src/util/NodeUtil.ts
Due: format, lint

feat: Support default exported functions (#99)
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceModuleExports.ts
  src/converter/replacer/replaceRequire.ts
  src/test/fixtures/module-exports-function-js/src/build-example-index-markdown.js
  src/test/fixtures/module-exports-function-js/src/build-example-index-markdown.snap.js
  src/test/fixtures/module-exports-function-js/src/build-example-index.js
  src/test/fixtures/module-exports-function-js/src/build-example-index.snap.js
  src/test/fixtures/module-exports-function-js/tsconfig.json
  src/test/fixtures/module-exports/src/main.snap.ts
  src/util/NodeUtil.ts
Due: format, lint

test: Check Import Attributes
  src/converter/convertFile.test.ts
  src/test/fixtures/module-exports-function-js/src/build-example-index-markdown.js
  src/test/fixtures/module-exports-function-js/src/build-example-index-markdown.snap.js
Due: lint

test: Check Import Attributes
  src/converter/convertFile.test.ts
Due: lint

fix: Preserve comment positions on module.exports
  src/converter/convertFile.test.ts
  src/test/fixtures/module-exports/src/multiple-named-exports.snap.ts
  src/test/fixtures/module-exports/src/multiple-named-exports.ts
Due: lint

verbastelt
  src/converter/replacer/replaceModuleExports.ts
  src/test/fixtures/module-exports/src/main.snap.ts
  src/test/fixtures/module-exports/src/main.ts
  src/test/fixtures/module-exports/src/multiple-named-exports.ts
  src/util/NodeUtil.ts
Due: lint

verbastelt
  src/converter/replacer/replaceModuleExports.ts
Due: lint

refactor: Remove unnecessary check
  src/converter/replacer/replaceModuleExports.ts
Due: lint

chore: Add util to find comments without only line-breaks
  src/util/NodeUtil.ts
Due: lint

refactor: Reuse values
  src/converter/replacer/replaceModuleExports.ts
Due: lint

refactor: Update replacement conditions
  src/converter/replacer/replaceModuleExports.ts
  src/test/fixtures/module-exports/src/main.snap.ts
Due: lint

refactor: Update replacement conditions
  src/converter/replacer/replaceModuleExports.ts
Due: lint

fix: Handle module.exports comments
  src/converter/replacer/replaceModuleExports.ts
  src/test/fixtures/module-exports/src/main.snap.ts
  src/test/fixtures/module-exports/src/main.ts
Due: lint

2.2.6
  package-lock.json
  package.json
Due: format

fix: Don't bundle named exports in order to preserve comments
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceModuleExports.ts
  src/test/fixtures/module-exports/src/multiple-named-exports.snap.ts
  src/test/fixtures/module-exports/src/multiple-named-exports.ts
Due: lint

fix: Don't bundle named exports in order to preserve comments (#101)
  src/converter/convertFile.test.ts
  src/converter/replacer/replaceModuleExports.ts
  src/test/fixtures/module-exports/src/multiple-named-exports.snap.ts
  src/test/fixtures/module-exports/src/multiple-named-exports.ts
Due: lint

2.2.7
  package-lock.json
  package.json
Due: format

refactor: Don't call private property
  .github/dependabot.yml
  package-lock.json
  package.json
  src/util/ProjectUtil.ts
Due: format, lint

chore: Update vitest
  package-lock.json
  package.json
Due: format

feat: Convert dynamic imports
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/converter/replacer/addFileExtensions.ts
  src/converter/replacer/replaceRequire.ts
  src/test/fixtures/dynamic-imports/src/main.snap.ts
  src/test/fixtures/dynamic-imports/src/main.ts
  src/test/fixtures/dynamic-imports/src/my-function.function.ts
  src/test/fixtures/dynamic-imports/tsconfig.json
Due: format, lint

feat: Convert dynamic imports
  src/converter/replacer/addFileExtensions.ts
  src/converter/replacer/replaceRequire.ts
Due: lint

feat: Convert dynamic imports
  src/converter/convertFile.ts
  src/converter/replacer/addFileExtensions.ts
  src/converter/replacer/replaceDynamicImports.ts
  src/converter/replacer/replaceRequiresAndShebang.ts
  src/util/replaceModulePath.ts
Due: lint
