Repository bennycode/ts2esm: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: npx eslint {staged_files} --fix

handle cmd exits
  package.json
  src/cli.ts
  src/codemod/applyModification.ts
Due: format, lint

explicit bundler messages
  src/codemod/convertTSConfig.ts
Due: lint

review done
  src/codemod/setJsonValue.test.ts
  src/codemod/setJsonValue.ts
Due: lint

feat: Adjust tsconfig.json changes via CLI (#71)
  README.md
  package-lock.json
  package.json
  src/cli.ts
  src/codemod/applyModification.ts
  src/codemod/convertTSConfig.ts
  src/codemod/getJsonDiff.ts
  src/codemod/loadJSON.ts
  src/codemod/package-json-type-module/checkModification.ts
  src/codemod/package-json-type-module/loadJSON.ts
  src/codemod/package-json-type-module/modifyJson.ts
  src/codemod/setJsonValue.test.ts
  src/codemod/setJsonValue.ts
  src/main.ts
Due: format, lint

2.1.0
  package-lock.json
  package.json
Due: format

docs: Add Step-by-Step Guide
  README.md
Due: format

docs: Mention CommonJS
  README.md
Due: format

chore: npm update --save
  package-lock.json
  package.json
Due: format

test: Add snapshot test for barrel files
  .eslintrc.json
  package-lock.json
  package.json
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/main.ts
  src/test/fixtures/barrel-import/barrel/index.ts
  src/test/fixtures/barrel-import/consumer.snap.ts
  src/test/fixtures/barrel-import/consumer.ts
  src/test/fixtures/barrel-import/tsconfig.json
  src/util/ProjectUtil.ts
  tsconfig.json
Due: format, lint

test: Add snapshot test for barrel files
  .eslintrc.json
Due: format

refactor: Use ProjectUtil
  src/converter/convertFile.ts
  src/main.ts
  src/util/ProjectUtil.ts
Due: lint

refactor: Use ProjectUtil
  src/util/ProjectUtil.ts
Due: lint

refactor: Use ProjectUtil
  src/main.ts
Due: lint

fixes imports from index files
  package.json
  src/converter/convertFile.test.ts
  src/test/fixtures/barrel-import/consumer.snap.ts
  src/test/fixtures/barrel-import/consumer.ts
  src/test/fixtures/index-import/main.snap.ts
  src/test/fixtures/index-import/main.ts
  src/test/fixtures/index-import/src/index.ts
  src/test/fixtures/index-import/tsconfig.json
  src/test/fixtures/tsconfig-include/consumer.snap.ts
  src/test/fixtures/tsconfig-include/consumer.ts
  src/test/fixtures/tsconfig-include/src/producer.ts
  src/test/fixtures/tsconfig-include/tsconfig.json
Due: format, lint

fixes imports from index files
  src/test/fixtures/tsconfig-include/tsconfig.json
Due: format

it.todo
  src/converter/convertFile.test.ts
  src/test/fixtures/index-import/main.snap.ts
  src/test/fixtures/index-import/main.ts
  src/test/fixtures/index-import/src/lib/index.ts
  src/test/fixtures/index-import/src/main.snap.ts
  src/test/fixtures/index-import/src/main.ts
  src/test/fixtures/tsconfig-include/consumer.ts
  src/test/fixtures/tsconfig-include/src/consumer.snap.ts
  src/test/fixtures/tsconfig-include/src/consumer.ts
  src/test/fixtures/tsconfig-include/src/lib/producer.ts
Due: lint

test cornerstone3D
  README.md
  package.json
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/main.ts
  src/test/fixtures/tsconfig-include/tsconfig.json
  src/util/PathUtil.ts
  src/util/ProjectUtil.ts
Due: format, lint

test cornerstone3D
  src/converter/convertFile.ts
  src/test/fixtures/tsconfig-include/tsconfig.json
Due: format, lint

removed only
  src/converter/convertFile.test.ts
Due: lint

document @playwright/test case
  src/main.ts
Due: lint

test: Add snapshot test for barrel files (#90)
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/main.ts
  src/test/fixtures/index-import/main.snap.ts
  src/test/fixtures/index-import/src/lib/index.ts
  src/test/fixtures/index-import/src/main.snap.ts
  src/test/fixtures/index-import/src/main.ts
  src/test/fixtures/index-import/tsconfig.json
  src/test/fixtures/tsconfig-include/consumer.snap.ts
  src/test/fixtures/tsconfig-include/src/consumer.snap.ts
  src/test/fixtures/tsconfig-include/src/consumer.ts
  src/test/fixtures/tsconfig-include/src/lib/producer.ts
  src/test/fixtures/tsconfig-include/tsconfig.json
  src/util/PathUtil.ts
  src/util/ProjectUtil.ts
  tsconfig.json
Due: format, lint

docs: Add Attributions
  README.md
Due: format

2.2.0
  package-lock.json
  package.json
Due: format

chore: update dependencies
  package-lock.json
  package.json
Due: format

feat: Replace require declarations
  README.md
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/test/fixtures/require-import/src/main.snap.ts
  src/test/fixtures/require-import/src/main.ts
  src/test/fixtures/require-import/tsconfig.json
Due: format, lint

add before
  README.md
Due: format

write file on changes
  src/converter/convertFile.ts
  src/converter/replaceRequire.ts
Due: lint

refactor
  src/converter/replaceRequire.ts
Due: lint

fix return behaviour
  src/converter/convertFile.ts
Due: lint

Fix short-circuiting
  src/converter/convertFile.ts
Due: lint

feat: Replace require declarations (#95)
  README.md
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/converter/replaceRequire.ts
  src/test/fixtures/require-import/src/main.snap.ts
  src/test/fixtures/require-import/src/main.ts
  src/test/fixtures/require-import/tsconfig.json
Due: format, lint

2.2.1
  package-lock.json
  package.json
Due: format

fix: Downgrade TypeScript to fix Symbol(nodejs.util.inspect.custom) error
  package-lock.json
  package.json
Due: format

2.2.2
  package-lock.json
  package.json
Due: format

fix: Don't add slash after trailing slash
  src/converter/ImportConverter.test.ts
  src/converter/ImportConverter.ts
  src/converter/convertFile.test.ts
  src/test/fixtures/trailing-slash/src/io/index.ts
  src/test/fixtures/trailing-slash/src/io/test/index.ts
  src/test/fixtures/trailing-slash/src/main.snap.ts
  src/test/fixtures/trailing-slash/src/main.ts
  src/test/fixtures/trailing-slash/tsconfig.json
Due: format, lint

fix: Don't add slash after trailing slash
  src/converter/ImportConverter.test.ts
Due: lint

add stats
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/main.ts
Due: lint

use null
  src/converter/convertFile.ts
Due: lint

fix: Don't add a slash after a trailing slash (#96)
  src/converter/ImportConverter.test.ts
  src/converter/ImportConverter.ts
  src/converter/convertFile.test.ts
  src/converter/convertFile.ts
  src/main.ts
  src/test/fixtures/trailing-slash/src/io/index.ts
  src/test/fixtures/trailing-slash/src/io/test/index.ts
  src/test/fixtures/trailing-slash/src/main.snap.ts
  src/test/fixtures/trailing-slash/src/main.ts
  src/test/fixtures/trailing-slash/tsconfig.json
Due: format, lint

2.2.3
  package-lock.json
  package.json
Due: format

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
