Repository bennycode/ts2esm: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: npx eslint {staged_files} --fix

1.1.0
  package-lock.json
  package.json
Due: format

feat: .tsx extension support Detect .tsx files and update paths to .js
  src/convert.ts
Due: lint

perf: scope conversion to local project
  src/cli.ts
Due: lint

perf: scope conversion to local project (#25)
  src/cli.ts
Due: lint

feat: .tsx extension support (#24)
  src/convert.ts
Due: lint

chore: Update dependencies
  package-lock.json
Due: format

feat: Support module files
  README.md
  src/convert.ts
  src/util.test.ts
  src/util.ts
Due: format, lint

feat: Support module files
  src/convert.ts
  src/util.test.ts
Due: lint

1.2.0
  package-lock.json
  package.json
Due: format

fix: restore .tsx transpiled to .js
  src/convert.ts
Due: lint

fix: restore .tsx transpiled to .js (#27)
  src/convert.ts
Due: lint

1.2.1
  package-lock.json
  package.json
Due: format

feat: Support JS extension
  src/convert.ts
Due: lint

feat: Support JS extensions (#28)
  src/convert.ts
Due: lint

1.2.2
  package-lock.json
  package.json
Due: format

feat: .cjs/mjs extension support and dot named files (#30)
  src/convert.ts
Due: lint

1.3.0
  package-lock.json
  package.json
Due: format

feat: Support CSS Import Assertions
  README.md
  src/convert.ts
  src/util.test.ts
  src/util.ts
Due: format, lint

feat: Support CSS Import Assertions
  src/util.test.ts
Due: lint

feat: Support CSS Import Assertions (#32)
  README.md
  src/convert.ts
  src/util.test.ts
  src/util.ts
Due: format, lint

1.4.0
  package-lock.json
  package.json
Due: format

chore: Update dev dependencies
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.ts
Due: format, lint

fix: Adjust dev start script
  package.json
Due: format

feat: Support paths aliases
  package-lock.json
  package.json
  src/cli.ts
  src/paths/isMatchingPath.test.ts
  src/paths/isMatchingPath.ts
  src/util.test.ts
  tsconfig.json
  vitest.config.ts
Due: format, lint

feat: Support paths aliases
  src/cli.ts
Due: lint

update config checks
  package.json
  src/convert.ts
  src/parseInfo.ts
  src/paths/isMatchingPath.test.ts
  src/paths/isMatchingPath.ts
  src/util.test.ts
  src/util.ts
Due: format, lint

update config checks
  src/convert.ts
  src/parseInfo.ts
  src/paths/isMatchingPath.ts
  src/util.test.ts
  src/util.ts
Due: lint

todo: forward resolution of path alias
  src/convert.ts
Due: lint

feat: Support path aliases from tsconfig
  src/convert.ts
  src/parseInfo.ts
  src/paths/isMatchingPath.ts
  src/util/PathAliasUtil.test.ts
  src/util/PathAliasUtil.ts
Due: lint

feat: Support path aliases from tsconfig
  src/convert.ts
  src/paths/isMatchingPath.test.ts
  src/util/PathAliasUtil.ts
Due: lint

add tests
  src/util/PathAliasUtil.test.ts
  src/util/PathAliasUtil.ts
Due: lint

fix imports
  src/util/PathAliasUtil.test.ts
  src/util/PathAliasUtil.ts
Due: lint

refactoring
  src/convert.ts
  src/parser/InfoParser.ts
  src/util/PathUtil.test.ts
  src/util/PathUtil.ts
  src/writer/ImportWriter.test.ts
  src/writer/ImportWriter.ts
Due: lint

refactoring
  src/parser/InfoParser.ts
  src/util/PathUtil.test.ts
  src/writer/ImportWriter.test.ts
  src/writer/ImportWriter.ts
Due: lint

ImportConverter
  src/convert.ts
  src/converter/ImportConverter.test.ts
  src/converter/ImportConverter.ts
Due: lint

ImportConverter
  src/writer/ImportWriter.test.ts
Due: lint

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
