Repository bennycode/ts2esm: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: npx eslint {staged_files} --fix

rename to "main"
  src/cli.ts
  src/main.ts
Due: lint

fix main path
  package.json
Due: format

improve docs
  README.md
Due: format

feat: Support paths aliases (#53)
  README.md
  package-lock.json
  package.json
  src/cli.ts
  src/converter/ImportConverter.test.ts
  src/converter/ImportConverter.ts
  src/main.ts
  src/parseInfo.ts
  src/parser/InfoParser.ts
  src/util.test.ts
  src/util/PathUtil.test.ts
  src/util/PathUtil.ts
  tsconfig.json
  vitest.config.ts
Due: format, lint

feat!: Replace import assertions with import attributes
  README.md
  package-lock.json
  package.json
  src/converter/ImportConverter.test.ts
  src/converter/ImportConverter.ts
  src/main.ts
Due: format, lint

feat!: Replace import assertions with import attributes
  package-lock.json
  package.json
Due: format

fix dependencies
  package-lock.json
  package.json
  src/main.ts
Due: format, lint

update a few
  package-lock.json
  package.json
Due: format

fix ranking
  src/main.ts
  src/parser/InfoParser.ts
  src/util/PathUtil.test.ts
  src/util/PathUtil.ts
Due: lint

fix ranking
  src/main.ts
  src/util/PathUtil.test.ts
Due: lint

update readme
  README.md
Due: format

sort
  src/main.ts
Due: lint

feat!: Replace import assertions with import attributes (#54)
  README.md
  package-lock.json
  package.json
  src/converter/ImportConverter.test.ts
  src/converter/ImportConverter.ts
  src/main.ts
  src/parser/InfoParser.ts
  src/util/PathUtil.test.ts
  src/util/PathUtil.ts
Due: format, lint

2.0.0
  package-lock.json
  package.json
Due: format

docs: Mention "import.meta"
  README.md
Due: format

extracting path finder
  package.json
  src/main.ts
  src/util/PathFinder.ts
Due: format, lint

extracting path finder
  src/main.ts
  src/util/PathFinder.ts
Due: lint

update test script
  package.json
Due: format

lookup node modules
  src/main.ts
  src/util/PathFinder.ts
Due: lint

feat: Support absolute file paths in node modules directory (#61)
  package.json
  src/main.ts
  src/util/PathFinder.ts
Due: format, lint

2.0.1
  package-lock.json
  package.json
Due: format

fix: Don't mix node modules with path aliases
  src/main.ts
Due: lint

2.0.2
  package-lock.json
  package.json
Due: format

fix: Don't swallow errors that are not ExitPromptErrors
  src/cli.ts
Due: lint

docs: Add showcases
  README.md
  package-lock.json
  package.json
Due: format

fix: Make compatible with Node v20
  package.json
Due: format

feat: Define module type in package.json
  README.md
  package-lock.json
  package.json
  src/cli.ts
  src/codemod/package-json-type-module/checkModification.ts
  src/codemod/package-json-type-module/getJsonDiff.ts
  src/codemod/package-json-type-module/loadJSON.ts
  src/codemod/package-json-type-module/modifyJson.ts
  src/main.ts
Due: format, lint

feat: Define module type in package.json
  src/codemod/package-json-type-module/checkModification.ts
  src/codemod/package-json-type-module/getJsonDiff.ts
Due: lint

feat: Define module type in package.json (#70)
  README.md
  package-lock.json
  package.json
  src/cli.ts
  src/codemod/package-json-type-module/checkModification.ts
  src/codemod/package-json-type-module/getJsonDiff.ts
  src/codemod/package-json-type-module/loadJSON.ts
  src/codemod/package-json-type-module/modifyJson.ts
  src/main.ts
Due: format, lint

refactor: Use JSON5
  package-lock.json
  package.json
  src/cli.ts
  src/codemod/applyModification.ts
  src/codemod/getJsonDiff.ts
  src/codemod/loadJSON.ts
  src/codemod/modifyTSConfig.ts
  src/codemod/package-json-type-module/checkModification.ts
  src/codemod/package-json-type-module/loadJSON.ts
  src/codemod/package-json-type-module/modifyJson.ts
  src/codemod/setJsonValue.test.ts
  src/codemod/setJsonValue.ts
  src/main.ts
Due: format, lint

use jju
  package-lock.json
  package.json
  src/codemod/applyModification.ts
  src/codemod/loadJSON.ts
  src/codemod/setJsonValue.ts
Due: format, lint

jsonPatchPath
  package-lock.json
  package.json
  src/codemod/modifyTSConfig.ts
  src/codemod/setJsonValue.ts
  src/main.ts
Due: format, lint

fix tests
  src/codemod/setJsonValue.test.ts
Due: lint

add test case
  src/codemod/convertTSConfig.ts
  src/codemod/setJsonValue.test.ts
  src/main.ts
Due: lint

fix tests
  src/codemod/setJsonValue.test.ts
  src/codemod/setJsonValue.ts
Due: lint

support relative paths
  README.md
  src/cli.ts
  src/codemod/applyModification.ts
Due: format, lint

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
